@import 'variables';

%map {
  align-items: center;
  box-sizing: border-box;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.input-map {
  @extend %map;

  .overlay & {
    opacity: 0.5;
  }

  canvas {
    cursor: none;
    image-rendering: pixelated;
  }
}

.output-map {
  @extend %map;
}
