$token-size: 40px;

.token {
  background: #000;
  border: 2px solid #baa97b;
  border-radius: $token-size / 2;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: rgba(255,255,255,0.9);
  height: $token-size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-$token-size / 2, -$token-size / 2);
  width: $token-size;
}

.token-banner {
  background: black;
  border: 2px solid #baa97b;
  box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
  box-sizing: border-box;
  font-size: 9px;
  font-weight: $font-weight-light;
  height: 14px;
  left: -7px;
  line-height: 10px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
  top: $token-size - 7px;
  width: $token-size + 10px;
}

.token-grip {
  background-image: radial-gradient(rgba(127,127,127,0.75) 50%, transparent 0);
  background-size: 4px 4px;
  cursor: move;
  height: 12px;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 12px;
}

.token-id {
  bottom: 9px;
  font-size: 20px;
  font-weight: $font-weight-bold;
  height: $token-size - 4px;
  left: 2px;
  line-height: $token-size - 6px;
  overflow: hidden;
  position: absolute;
  right: 2px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  top: 2px;
}

.token-add {
  background-color: lighten(#186a3b, 1);
  border-top-right-radius: $token-size / 2;
  border-bottom-right-radius: $token-size / 2;
  color: white;
  cursor: pointer;
  font-size: $token-size / 2;
  font-weight: $font-weight-bold;
  height: $token-size;
  left: -4px;
  line-height: $token-size;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-$token-size / 2);
  transition: 300ms;
  width: $token-size / 2;

  &:before {
    content: '+';
  }

  &:hover {
    background-color: lighten(#186a3b, 15);
    left: 0;
  }
}
