$token-size: 40px;

.token {
  background: radial-gradient(ellipse at center, #555 0%, #333 40%, #000 100%);
  border-radius: $token-size / 2;
  box-shadow:
    inset -1px -1px 1px 0 #20190a,
    inset 1px 1px 1px 0 #baa97b,
    inset 0 0 0 2px #4d3318,
    inset 2px 2px 2px 0 #333,
    inset 3px 3px 5px 0 #888,
    1px 1px 3px rgba(0,0,0,0.5);
  box-sizing: border-box;
  color: rgba(255,255,255,0.9);
  cursor: pointer;
  height: $token-size;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-$token-size / 2, -$token-size / 2);
  width: $token-size;
}

.token-banner {
  background: black;
  box-shadow:
    inset -1px -1px 1px 0 #20190a,
    inset 1px 1px 1px 0 #baa97b,
    inset 0 0 0 2px #4d3318,
    1px 1px 3px rgba(0,0,0,0.5);
  box-sizing: border-box;
  font-size: 9px;
  font-weight: $font-weight-light;
  height: 14px;
  left: -5px;
  line-height: 14px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
  top: $token-size - 7px;
  width: $token-size + 10px;
}

.token-id {
  bottom: 9px;
  border-radius: $token-size / 2 - 4px;
  font-size: 20px;
  font-weight: $font-weight-bold;
  height: $token-size - 4px;
  left: 2px;
  line-height: $token-size - 4px;
  overflow: hidden;
  position: absolute;
  right: 2px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  top: 2px;
}

.token-add {
  background-color: lighten(green, 1);
  border-top-right-radius: $token-size / 2;
  border-bottom-right-radius: $token-size / 2;
  color: white;
  cursor: pointer;
  font-size: $token-size / 2;
  font-weight: $font-weight-bold;
  height: $token-size;
  left: -4px;
  line-height: $token-size;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-$token-size / 2);
  transition: 300ms;
  width: $token-size / 2;

  &:before {
    content: '+';
  }

  &:hover {
    background-color: lighten(green, 15);
    left: 0;
  }
}
