<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="application-name" content="RPG Maps">
  <meta name="application-version" content="<%= version %>">
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="<%= bundleSrc %>"></script>
</body>
</html>
